body {
    background-image: url("../image/japan-2014616_960_720.jpg");
    background-size: cover;
    background-color: #0D0D0D;

}


/*===================2.RESULT PAGE====================*/

.card3 {
    width: 470px;
    height: 540px;
    background-color: #0D0D0D;
    border: 2px #F8019D solid;
    position: absolute;
    top: 15%;
    left: 10%;


}

.card4 {
    width: 470px;
    height: 540px;
    background-color: #0D0D0D;
    border: 2px #F8019D solid;
    position: absolute;
    top: 15%;
    right: 10%;

}

.crd4_top {
    width: 430px;
    height: 200px;
    background-color: #0D0D0D;
    border-radius: 5px;
    margin: 50px 0 0 20px;
}

.crd4_bottom {
    width: 100px;
    height: 200px;
    background-color: transparent;
    border-radius: 5px;
    margin: 50px 0 0 20px;
}

.download_button {

    width: 300px;
    height: 100px;
    background-color: #0D0D0D;

    margin: 50px 0 0 70px;
    border: 2px blue solid;
    font-size: large;
    /* box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    transition: 0.3s;
    transform: translate(-50%, -50%);
    font-size: 3em; */
}

.inner_card3 {
    width: 430px;
    height: 450px;
    background-color: rgb(254, 243, 250);
    background-image: url("../backend/static/image/gif/20220523171354.gif");
    background-size: cover;
    /* background-image: -moz-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%); */
    border: 2px #F8019D solid;
    margin: 17px 0 10px 20px;

}