* {
    color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    background: rgba(0, 79, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
}

body {
    margin: 0;
}


/*===================1.MAIN PAGE====================*/
/*==============================================*/
.page1 {
    width: 100%;
    height: 1000p;
    background-image: url("../backend/static/image/base/japan-2014616_960_720.jpg");
    background-size: cover;
}

/*===================NAVBAR START====================*/
.nav {
    width: 100%;
    height: 50px;
    background-color: transparent;
    justify-content: space-between;
    display: flex;

}

.logout_button {
    border-radius: 3px;
    background-color: black;
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    color: white;
}

.logo {
    margin: 10px;
}

/*===================NAVBAR END====================*/
/*================PAGE TOP START===================*/
.page_top {
    /* background-color: gray; */
    width: auto;
    height: 700px;

}

.card1 {
    width: 470px;
    height: 530px;
    background-color: transparent;
    position: absolute;
    left: 55%;
    margin: 80px 0 0 -350px;
    border-radius: 8px;
    color: antiquewhite
}

.card1 div {
    position: relative;
}



.word_box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border: 2px #F8019D solid;
    margin: 50px;
    padding: 10px;
    opacity: 1;
    z-index: 3;

}

.word_box ::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5
}

.word_box h1 {
    font-size: 3.5em;
    padding-bottom: 0;
    margin: 0;
    z-index: 10;
}

/*================PAGE TOP END===================*/
/*================PAGE BOTTOM START================*/
.page_bottom {
    background-color: #0D0D0D;
    width: auto;
    height: 1200px;

}

.card2 {
    width: 470px;
    height: 540px;
    background-color: #0D0D0D;
    border: 2px #F8019D solid;
    position: absolute;


    left: 55%;
    margin: 300px 0 0 -350px;


}

.inner_card {
    width: 425px;
    height: 500px;
    /* background-color: rgb(254, 243, 250); */
    /* background-image: -moz-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #ff4242 0%, #88f3ff 100%); */
    /* border: 2px #F8019D solid; */
    margin: 17px 0 10px 20px;
    background-image: url(../frontend/static/img/f4logo.png);
    background-position: center;
    background-size: cover;
}

.inner_card i {
    font-size: 5em;
}

.inner_card h3 {
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 35%;
    left: 14%;
}

.inner_card button {
    width: 80px;
    height: 30px;
    background-color: #F8019D;
    border: white;
    position: absolute;
    top: 47%;
    left: 42%;
    border-radius: 3px;
}

/* .inner_card:nth-child(2) {
    color: pink;
    top: 50%;
} */
/*================PAGE BOTTOM END================*/

form {
    width: 100px;
    height: 100px
}

form>label {
    width: 400px;
    height: 300px;
    color: #F8019D;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 0 black;
}

.inner_card,
form,
form>label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}